/* Начальные стили 
===========================================*/

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

* {
    transition: all 0.5s;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

ul li {
    list-style: none;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
    max-width: 1410px;
    margin: 0px auto;
    padding: 0px 15px;
}

.general__title {
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

/* Section Tabs 
==================================================================*/

.tabs {
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    height: 100vh;
}

.tabs__wrap {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}

.tabs__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.tabs__nav-btn {
    margin: 15px;
    width: 100px;
    padding: 15px 0px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    background: rgb(240,184,2);
    background: linear-gradient(90deg, rgba(240,184,2,1) 0%, rgba(255,251,0,1) 80%);
}

.tabs__nav-btn.active {
    background: aqua;
    box-shadow: inset 0 0 6px;
}

.tabs__content {
    border-radius: 7px;
    background: rgb(240,184,2);
    background: linear-gradient(90deg, rgba(240,184,2,1) 0%, rgba(255,251,0,1) 80%);;
}

.tabs__item {
    display: none;
    padding: 40px 15px;
}

.tabs__item.active {
    display: block;
}

/* Section Slider 
==================================================================*/
.slider {
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    height: 100vh;
}

.slider-wrap {
    max-width: 60%;
    margin: 0px auto;
    text-align: center;
    position: relative;
    padding-top: 30px;
    height: 100%;
}

.slide img {
    max-width: 100%;
}

.slide.active {
    display: block;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

#btn-next, #btn-prev {
    position: absolute;
    left: 0;
    top: 30px;
    height: 93.7%;
    width: 6%;
    background-color: rgb(90, 90, 90);
    opacity: 0.4;
    cursor: pointer;
}

#btn-next {
    left: auto;
    right: 0;
}

.dots-wrap {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #000000;
}

span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(233, 210, 2); 
    margin-right: 10px;
    cursor: pointer;
}
span:last-child{
    margin-right: 0;
}